@font-face {
  font-family: "Caros Regular";
  src: url("./assets/fonts/Caros-Regular.woff") format("woff");
}
.caros {
  font-family: "Caros Regular";
}
.heading-text {
  font-size: 2.5rem;
}
.heading-text2 {
  font-size: 1.5rem;
}
.contactinputs {
  width: 80%;
}
.leftText {
  font-size: 3.5rem;
}
.bg-silver {
  background-color: #f2f2f2;
}
.carousel-img {
  width: 100%;
  height: 25rem;
}
.bg-green {
  background-color: #8dc63f;
}
.text-green {
  color: #8dc63f;
}
.btn-green {
  background-color: #8dc63f;
  color: white;
}
.carousel-btn {
  margin-top: 12%;
  height: 10%;
}
.custom-container {
  width: 75%;
  height: 100%;
}
.link-hover:hover {
  color: #8dc63f;
}
.mobile-logo {
  display: none;
}
.desktop-logo {
  display: block;
}
@media screen and (max-width: 768px) {
  .carousel-btn {
    margin-top: 45%;
    height: 10%;
  }
  .mobile-logo {
    display: block;
  }
  .desktop-logo {
    display: none;
  }
  .custom-container {
    width: 100%;
    height: 100%;
  }
  .heading-text {
    font-size: 1.5rem;
  }
  .heading-text2 {
    font-size: 1rem;
  }
  .notimpo {
    display: none;
  }
  .contactinputs {
    width: 100%;
  }
  .contactdiv {
    width: 100%;
  }
  .leftText {
    font-size: 2.5rem;
  }
}
